# .gitignore


#ALL#################
*.gradle
#################ALL# 


#VS##################
.vs/
Debug/
*.user
##################vs#


#AS##################
.gradle/
.idea/
gradle/
build/
##################AS#


#IA##################
 .idea/
##################IA#

